.reservation-container {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 274px;
  height: 140px;
  padding: 14px 11px 11px;
  margin-bottom: 18px;
}

select {
  -webkit-appearance: none;
  outline: none;
  border: none;
  background-color: white;
  font-size: 14px;
}

/************* RESERVATION HEADER *************/
.header-container {
  height: 35px;
  padding-bottom: 3px;
}

.header-icon {
  user-select: none;
}

.header {
  margin: 0;
  padding: 0;
  border: 0;
} 

.header-title {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  bottom: 7px;
  left: 3px;
  vertical-align: center;
  cursor: pointer;
}

.header-title:hover {
  text-decoration: underline;
}

/************* DATE SELECT *************/
.date-container {
  position: relative;
  width: 268px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-top: 3px;
  padding-left: 4px;
  cursor: pointer;
}
.date-container:focus-within {
  border: 1px solid #0073bb;
}

.date-icon {
  position: absolute;
  user-select: none;
}

.date-text {
  color: #333;
  border: none;
  width: 102%;
  height: 120%;
  font-size: 14px;
  padding-left: 30px;
  letter-spacing: -0.5px;
  position: relative;
  cursor: inherit;
  bottom: 4px;
  right: 4px;
  background: transparent;
  vertical-align: top;
  z-index: 1;
}

.date-arrow-icon {
  position: absolute;
  bottom: 3px;
  right: 5px;
  user-select: none;
}

/************* SELECT *************/
.time-container {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 130px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 4px;
  padding-top: 3px;
  cursor: pointer;
}
.people-container {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 126px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 6px;
  margin-left: 6px;
  padding-left: 4px;
  padding-top: 4px;
  cursor: pointer;
}
.time-container:active,
.time-container:focus-within,
.people-container:active,
.people-container:focus-within {
  border: 1px solid #0073bb;
}

.icon {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.people-icon {
  position: absolute;
  pointer-events: none;
  user-select: none;
  bottom: 3px;
}

.select {
  width: 100%;
  height: 100%;
  letter-spacing: -0.5px;
  font-size: 14px;
  padding-left: 27px;
  padding-bottom: 4px;
  cursor: inherit;
  background: transparent;
}

.arrow-icon {
  position: absolute;
  pointer-events: none;
  right: 5px;
  user-select: none;
}

/************* BUTTON *************/
.button-container {
  width: 272px;
  height: 21px;
  border: 1px solid #28781E;
  border-radius: 4px;
  text-align: center;
  padding-top: 7px;
  background-color: #3cb52e;
  cursor: pointer;
  box-shadow: 0px 1px 0px #c5c5c5;
}

.button-container:hover {
  background-color: #41c532;
}

.button-container:active {
  background-color: #37a52a;
}

.button {
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 12px;
  font-weight: bold;
  color: white;
  user-select: none;
}

/************* CALENDAR *************/
.calendar-container {
  position: absolute;
  left: -1px;
  top: 35px;
  width: 273px;
  z-index: 2;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 0px #ebebeb;
}
.calendar-container:after, .calendar-container:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.calendar-container:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.calendar-container:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #ccc;
	border-width: 11px;
	margin-left: -11px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  cursor: default;
}

.calendar-header-title {
  height: 39px;
  width: 107px;
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 14px;
  color: #333;
  cursor: default;
}

.scale-x {
  transform: scaleX(0.5);
}

.forward, .back {
  position: relative;
  right: 1.5px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 9px;
  font-weight: bold;
  width: 20px;
  height: 100%;
  cursor: pointer;
  user-select: none;
}
.forward:focus, .back:focus {
  outline: none;
}

.days-of-week {
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 12px;
  color: #d32300;
  padding-top: 7.5px;
  padding-bottom: 5px;
  cursor: default;
}

.calendar-day {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 20px;
  height: 36.5px;
  border-radius: 5px;
}
.calendar-day:hover {
  background-color: #f0f3f8;
}

.selected-date {
  background-color: #cf1200cc; 
  color: white;
  border-radius: 0px;
}
.selected-date:hover {
  background-color: #cf1200cc;
}

.today {
  font-weight: bold;
}

.invalid-date {
  cursor: not-allowed;
  color: #ccc;
}
.invalid-date:hover {
  background-color: white;
}

/************* STATUS WINDOW *************/
.status-container {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 296px;
  padding-top: 1px;
  padding-bottom: 2px;
}

/************* STATUS WINDOW HOURS *************/
.status-hours {
  text-align: left;
  font-size: 14px;
  height: 37px;
  padding-top: 11px;
  padding-bottom: 6px;
  line-height: 19px;
}

.status-hours b {
  letter-spacing: -0.5px;
  word-spacing: 0.5px;
}

.status-icon-row {
  user-select: none;
  width: 46px;
  padding-top: 5px;
}

.status-clock {
  user-select: none;
  position: relative;
  height: 25px;
  width: 27px;
  right: 2px;
}

.open {
  font-size: 12px;
  font-weight: 700;
  color: #5da42f;
  letter-spacing: 0px;
}

.close {
  font-size: 12px;
  font-weight: 700;
  color: #d32300;
  letter-spacing: 0px;
}

.empty-row {
  user-select: none;
  width: 13px;
}

.status-score {
  text-align: left;
  font-size: 14px;
  height: 37px;
}

.status-price {
  text-align: left;
  font-size: 14px;
  height: 37px;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

.status-health {
  user-select: none;
  height: 24px;
  width: 21px;
  padding-right: 4px;
}

.health-score-link {
  color: #2e72b6;
  cursor: pointer;
}
.health-score-link:hover {
  text-decoration: underline;
}

.grey-sign {
  color: #999999;
  font-size: 14px;
}

.green-sign {
  color: #5da42f;
  font-size: 14px;
}

.sign-shift {
  position: relative;
  right: 2px;
  top: 1px;
}